.connection-title {
    margin-top: 25px;
    width: 100%;
    margin-bottom: 25px;
}

.connection-title h4 {
    font-size: 45px;
    color: white;
    text-align: center;
}

.panel-frame {
    position:absolute;
    top: 62%;
    left: 50%;
    width:70em;
    height:44em;
    margin-top: -22em; /*set to a negative number 1/2 of your height*/
    margin-left: -35em; /*set to a negative number 1/2 of your width*/
    background-color: rgba(164, 32, 7, 0.9);
}

.l-r {
    background: #e0e0e0;
    position: relative;
    margin: 56px;
    height: 510px;
    /**margin-top: 130px;**/
}

.container {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    width: inherit;
    height: inherit;
}

.l-r .login {
    padding-left: 40px;
    padding-right: 30px;
}

.l-r .register {
    padding-right: 40px;
}

.l-r input {
    background: #fff;
    height: 39px;
    border: 1px solid #d7d7d7;
    border-radius: 0px;
    box-shadow: none;
    color: #959595;
    font-size: 12px;
    width: 100%;
    float: left;
    margin-top: 30px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn {
    padding: 15px 0px 15px 0px;
}

.l-r input.l-btn {
    display: block;
    width: 150px;
    height: 37px;
    font-size: 14px;
    color: #fff;
    text-shadow: 2px 3px 5px rgba(0,0,0,.55);
    background-color: rgba(164, 32, 7, 0.9);
    line-height: 2.5;
    transition: .3s;
}